{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <!-- HEADER -->
  <header class="shadow-sm">

    <!-- Logo -->
    <div class="shadow-sm rounded">
      <img class="d-block mx-auto" src="{% static  'img/logo-LEGO-white.png' %}" width="200" draggable="false" alt="Logo">
    </div>
    <!-- /Logo -->

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container">
        <a class="navbar-brand mr-5" href="/">LEGO Adventures</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- menu -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
              <a class="nav-link" href="/">Home</a>
            </li>
{#            <li class="nav-item">#}
{#              <a class="nav-link" href="about.html">About me</a>#}
{#            </li>#}
            <!-- dropdown menu -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Blog
              </a>
              <div class="dropdown-menu" id="custom-dropdown-menu">
{#                <a class="dropdown-item" href="post-01.html">Spider-Man</a>#}
{#                <a class="dropdown-item" href="post-02.html">Batman</a>#}
{#                <a class="dropdown-item" href="post-03.html">Panther</a>#}
                  {% for post in posts %}
{#                     Работает только на главной странице  , возможно дело в абсолютной и относительной ссылке #}
                    <a class="dropdown-item" href="{% url 'post_detail' pk=post.pk %}">{{post.title}}</a>
{#                  <p>{{post.text}}</p>#}
{#                  <p>{{post.published_date}}</p>#}

                    {% endfor %}
              </div>
            </li>
                {#    Validation admin and create#}
{#    <div class="page-header">#}
        {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'post_new' %}">Create</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin">Admin</a>
            </li>
        {% endif %}

          </ul>
        </div>
        <!-- /menu -->
      </div>
    </nav>
    <!-- /Navbar -->

  </header>


    {% block content %}
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

</body>
</html>